.addTaskListPopup {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;

    &__wrapper {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: -1;
        background: rgba(0, 0, 0, .5);
    }

    &__form {
        display: inline-block;
        padding: 20px;
        width: 335px;
        text-align: left;
    }

    &__title {
        margin-top: 20px;
        margin-bottom: 40px;
        color: rgba(0, 0, 0, .6);
        font-size: 16px;
        font-weight: 400;
    }

    &__buttonContainer {
        padding-top: 20px;
    }

    &__btnSubmit,
    &__btnCancel {
        float: right;
    }
}

