@import '../../../styles/palette.scss';

.wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    width: 100vw;
    height: 100vh;
    background-color: $turquoise;
}

.container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.login-page {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;

    h1,
    p {
        margin: 15px 0;
        color: $ivory;
        font-weight: 400;
    }
}

.login-btn {
    margin: 12px 12px 12px 0;
    font-weight: 600;
}
