@import "../../../../../styles/palette.scss";

.Task__wrapper {
    padding-bottom: 10px;
}

.Task {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0 16px;
    width: 100%;
    padding: 8px 0;
    border-bottom: 1px solid $divider-color;

    &.editing {
        display: flex;
        flex-direction: column;
    }
}

.Task__text {
    min-height: 20px;
    width: 100%;
}

.Task__note {
    // обычно, следует избегать использования !important
    // но в библитотеке material-ui используются inline стили,
    // и здесь используется !important чтобы наши стили применились к элементу
    margin-left: 8px;
    //width: 15px !important;
    //height: 15px !important;
    color: rgba(0, 0, 0, .7);
    font-size: 14px;
}

.Task__due {
    width: 100%;
    color: $secondary-text-color;
    font-size: 13px;
}

//.Task__toolbar {
//    display: flex;
//    align-items: center;
//    width: 100%;
//    justify-content: space-between;
//
//    > * {
//        margin-right: 6px;
//    }
//}
//
//.Task__text-input {
//    margin: 8px 16px;
//    padding: 6px;
//    width: 100%;
//    border: 1px solid $divider-color;
//    font-size: 16px;
//
//    &:focus {
//        outline: 0;
//        border: 1px solid $primary-color;
//    }
//}
//
//.Task__note-input {
//    margin: 8px 16px;
//    padding: 6px;
//    width: 100%;
//    border: 1px solid $divider-color;
//    resize: vertical;
//    font-size: 16px;
//
//    &:focus {
//        outline: 0;
//        border: 1px solid $primary-color;
//    }
//}

.Task__checkbox {
    max-width: 40px;
}
