.container {
    display: flex;
    justify-content: center;

    h2 {
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 0;
        font-weight: normal;
    }

    p {
        padding-top: 5px;
        padding-bottom: 5px;
    }
}

.paper {
    margin: 20px;
    padding: 20px;
    width: 660px;
    height: 100%;
    text-align: left;
}
