$turquoise: #4db8d2;
$ivory: #fffcf3;
$almostWhite: #fafafa;
$grey: #646464;
$lightGrey: #757575;
$secondary-text-color: rgba(0, 0, 0, .54);
$divider-color: rgba(0, 0, 0, .12);
$primary-color: #00bcd4;
