@import '../../../styles/palette.scss';

.layoutWrapper {
    width: 100vw;
    height: 100vh;
    background: $almostWhite;
}

.pages-wrapper {
    display: flex;
    margin: 0 auto;
    max-width: 1100px;
}
