.task-list-wrapper {
    display: inline-block;
    padding: 20px 40px;
    width: 67vw;
    box-shadow: rgba(0, 0, 0, .06) 2px 0 1px;
    background: white;
}

.task-list-topbar {
    padding-bottom: 10px;
}

.task-list-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.list-name {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

.btns-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
}

.task-list-btn {
    float: right;
}

