@import '../../../../styles/palette.scss';

.home-wrapper {
    display: inline-block;
}

.home-paper {
    display: inline-block;
    padding-left: 90px;
    width: 400px;
    height: 100vh;
    float: left;
    overflow: hidden;
    background-color: $almostWhite !important;
}

.home-title {
    padding: 16px;
    font-size: 18px;
    font-weight: 200;
}

.lists {
    padding-left: 16px;
    color: $grey;
    font-size: 14px;
}

.material-icons {
    color: $lightGrey;
}
